@page
@model MasterChannelMap.Pages.ChannelListings.IndexModel

@{
    ViewData["Title"] = "Channel Listings";
}

<h1>Channel Listings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChannelListing[0].ChannelMapName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelListing[0].TunerPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelListing[0].CallSignID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelListing[0].ServiceCollectionID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChannelListing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelMapName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TunerPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallSignID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCollectionID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
